app = "staypay-backend-sample"
primary_region = "iad"

[build]
  image = "Dockerfile"

[env]
  PORT = "3000"

[[services]]
  internal_port = 3000
  protocol = "tcp"

  [[services.ports]]
    handlers = ["http"]
    port = 80

[deploy]
  release_command = "npm run migrate"
